
.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
}
.notes-list{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
}

.note.new{
    background-color: #67d7cc;

}
textarea{
  border: none;
  resize: none;
  background-color: #67d7cc;

}
textarea:focus{
  outline: none;
}

.save{
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;

}
.save:hover{
  background-color: #ededed;
}

.note{
  background-color: #fef68a;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  margin: 10px;
}
.note-footer{
  display: flex;
  justify-content: space-between;
}
.delete-icon{
  cursor: pointer;
}
.delete-icon:hover{
  color: red;
}

.search{
  display: flex;
  align-items: center;
  background-color: rgb(233,233,233);
  padding: 5px;
  margin-bottom: 1.3rem;
  border-radius: 10px;
}
.search input{
  border: none;
  padding: 5px;
  width: 100%;
  background-color: rgb(233,233,233);
}
.search input:focus{
  outline: none;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
